.wrapperForm {
  position: relative;
  border-top: 0.5px solid #bdbdbd;
  padding-top: 1rem;
  width: 25rem;
}

.input {
  padding-right: 4.5rem;
  width: 19.5rem;
  font-size: 1.2rem;
  height: 2.5rem;
}

.inputButton {
  background-color: #1a73e8;
  border: none;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  padding: 0.5rem 2rem;
  height: 2.6rem;
  color: #fff;
  position: absolute;
  right: 0;
}
